<%-include('./header.ejs')%>
<script src="http://requirejs.org/docs/release/2.1.5/comments/require.js"></script>
<link rel="stylesheet" href="/game.css" />
<script src="../socket.io/socket.io.js"></script>
<div class="row">
    <script>
        async function JoinGame(playerName, gameUUID, type, locked = 'false') {
            console.log(1)
            if (locked == 'true') {
                console.log(2)
                const socket = io(window.location.origin)

                socket.once('connect', async () => {
                    let passwordInput = prompt("Enter the game's password.");
                    if (passwordInput == null || passwordInput == "") return;
                    socket.emit('checkPassword', gameUUID, passwordInput)
                    await socket.once('passwordConfirmation', (success) => {
                        if (!success) return alert("The password was incorrect!")
                        sendPOSTgameJoin(playerName, gameUUID, type, locked)
                    })
                })
                //alert("Spit out the password.")
                //Connect with server
                //Verify Password
                //If password successful, continue
                //else cancel joining game
            } else {
                sendPOSTgameJoin(playerName, gameUUID, type, locked)
            }
            function sendPOSTgameJoin(playerName, gameUUID, type, locked) {
                fetch(`/game/join${locked === 'true' ? "/locked" : ""}`, {
                    method: 'POST',
                    body: JSON.stringify({
                        playerType: type,
                        playerName: playerName,
                        gameUUID: gameUUID
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
            }
        }
    </script>
  <%for (game of locals.gameArray) { %>
    <div id="gamelist_lobby_<%=game.gameUUID%>" class="gamelist_lobby" tabindex="0">
        <div class="gamelist_lobby_left">
        <h3 style="color:black;">
            <strong>
                <span class="gamelist_lobby_host"><%-game.host%></span>'s Game 
                (<span class="gamelist_lobby_player_count"><%-game.currentPlayers%></span>/<span class="gamelist_lobby_max_players"><%-game.maxPlayers%></span>,
                <span class="gamelist_lobby_spectator_count"><%-game.currentSpectators%></span>/<span class="gamelist_lobby_max_spectators"><%-game.maxSpectators%></span>)
            </strong>
                <% if(game.progress == "Not Started"){ %>
                    <span class="gamelist_lobby_status" style="font-size: 1em; color:red"><%-game.progress%></span>
                <% } else { %>
                    <span class="gamelist_lobby_status" style="font-size: 1em; color:limegreen"><%-game.progress%></span>
                <% } %>
        </h3>
        <div>
            <strong>Players:</strong>
            <span class="gamelist_lobby_players"><%-game.players.length > 0 ? game.players.join(", ") : "None"%></span>
        </div>
        <div>
            <strong>Spectators:</strong>
            <span class="gamelist_lobby_spectators"><%-game.spectators.length > 0 ? game.spectators.join(", ") : "None"%></span>
        </div>
        <div>
            <strong>Goal:</strong> <span class="gamelist_lobby_goal"><%-game.goal%></span>
        </div>
        <div>
            <strong>Cards:</strong>
            <span class="gamelist_lobby_cardset"><%-game.cardPacks.join(", ") %></span
            >
        </div>
        <div class="hide">Game <span class="gamelist_lobby_id"><%-game.gameUUID%></span></div>
        </div>
        <div class="gamelist_lobby_right">
            <% if(game.currentPlayers < game.maxPlayers && !game.password){ %>
                <input type="button" onclick="JoinGame('<%=currentUser%>', '<%=game.gameUUID%>', 'player')" class="gamelist_lobby_join" value="Join" />
            <% } else if (game.currentPlayers < game.maxPlayers && game.password){ %>  
                <input type="button" onclick="JoinGame('<%=currentUser%>', '<%=game.gameUUID%>', 'player', '<%=game.password%>')" class="gamelist_lobby_join" value="Join (Locked)">
            <% } else if (game.currentPlayers >= game.maxPlayers && !game.password){ %>  
                <input type="button" class="gamelist_lobby_join" value="Join" disabled="disabled"/>
            <% } else if (game.currentPlayers >= game.maxPlayers && game.password){ %>  
                <input type="button" class="gamelist_lobby_join" value="Join (Locked)" disabled="disabled">
            <% } if (game.currentSpectators < game.maxSpectators){ %>  
                <input type="button" onclick="JoinGame('<%=currentUser%>', '<%=game.gameUUID%>', 'player')" class="gamelist_lobby_spectate" value="Spectate" />
            <% } else if (game.currentSpectators >= game.maxSpectators){ %>  
                <input type="button" class="gamelist_lobby_spectate" value="Spectate" disabled="disabled"/>
            <% } %>
        </div>
    </div>
  <% }%>
</div>